@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Do+Hyeon&family=Monoton&display=swap');
body {
    background-image: url(bg.jpg); background-size: cover; color: #ffffff; 
    font-family: 'Do Hyeon', sans-serif;
}

.container { margin: 2% auto; padding: 2rem; align-items: center;
    width: 700px; border-radius: 1rem;
}
input {margin-left: 1.3rem; outline: none; border: none;}

input[type="search"] { width: 400px; padding: .5rem;
    border-radius: .3rem;  font-size: 2rem; margin-bottom: 2rem;
    background-color: #e7e7e7d5;
}
input[type="search"]:focus {border: 2px solid #ffc400;}
input[type="search"]:focus::placeholder { opacity: 0%;}

input[type="submit"] { width: 200px; padding: .5rem;
    border: none; border-radius: .3rem; margin-left: 1rem;
    font-size: 2rem; margin-bottom: 2rem; cursor: pointer; 
    background-color: #ffd900d5; color: #ffffff;
}
.display { text-align: center; width: 100%; font-size: 40px; line-height: 1rem;
    text-shadow:5px 5px 0 #020202;
}